@charset "UTF-8";

body {
  color: #000;
  background-color: #fff;
  font-family: "Droid Serif", YuGothic, "游ゴシック", sans-serif;
}
.animated {
  opacity: 0;
}

.showcase {
  margin: 0 auto;

  width: 88%;
  max-width: 940px;
}

.card {
  text-align: center;
  margin-bottom: 3em;
}

.card__icon {
  font-size: 2.5rem;
}

.card__icon img{
  border-radius: 50%;
  object-fit: cover;
}

.card__description {
  margin: 0 auto;

  font-size: 1.3125rem;
  width: 80%;
}

.top {
  position: relative;
  background-color: #f0faf2;
}

.top,
.top__bg {
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.top__title {
  margin-bottom: 10px;
  font-size: 4rem;
  line-height: 77px;
  letter-spacing: 4px;
}

.top__bg {
  position: absolute;
  left: 0;
  top: 0;

  background-color: #fff;
  background-image: none;
  background-size: cover;
  background-position: center;
}

.top__text-box {
  position: relative;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  font-weight: 100;
}

.profile {
  padding-top: 82px;
  padding-bottom: 92px;
  background-color: #faf7f0;
}
.profile h4{
letter-spacing:2em;
 line-height:2em;
}

.profile__title,
.prepare__title,
.contact {
  margin-bottom: 37px;
  text-align: center;
  font-size: 2.4rem;
  letter-spacing: 2px;
}

.foto img{
  border-radius: 50%;
}
.prepare {
  padding-top: 82px;
  padding-bottom: 44px;
  background-color: #d1edfb;
}

.mail  {
  padding-top: 82px;
  padding-bottom: 92px;
  background-color: #faf7f0;
  background-image: -webkit-linear-gradient(
    top left,
    #f0faf2,
    #f0faf2 50%,
  
  );
  background-image: linear-gradient(
    to bottom right,
    #f0faf2,
    #f0faf2 50%,
  
  );
}

.mail p{
   font-size:20px;
   font-weight:6px;
   text-align:center;
   letter-spacing: 1px;
   line-height:40px;
}
footer {
  padding: 50px 0;
  background-color: #fafaf3;
  text-align: center;
}

.tabs__content section {
  display: none;
}

.tabs__content section.active {
  display: block;
}



@media (min-width: 768px) {
  .top__catchphrase {
    font-size: 1.125rem;
  }

  .profile__title,
  .prepare__title,
  .contact {
    font-size: 3rem;
  }
  .prepare__phrase
   {
    font-size: 1.5rem;
  }
  .card__number,
  .card__icon {
    font-size: 4rem;
  }

  .showcase--leftpic .showcase__thumbnails {
    text-align: left;
  }
  .showcase--rightpic .showcase__thumbnails {
    text-align: right;
  }

  .showcase--rightpic .showcase__kind-name {
    text-align: right;
  }

  .showcase__details {
    max-width: 320px;
  }
  .showcase--leftpic .showcase__details {
    margin: 0 auto 0 0;
  }
  .showcase--rightpic .showcase__details {
    margin: 0 0 0 auto;
  }
}

/* 印刷用スタイル */
@media print {
  .animated {
    /* すべて表示 */
    opacity: 1;
  }
}
